{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {#Обнуляющий CSS#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylecss %}
    {% endblock %}
    <title>{% block title %}Ali express my CRM{% endblock %}</title>
</head>
<body>

{#<div class="page">#}
<nav class="navbar">
    <div class="container">
    <ul>
            <li class="navbar__element {% if active_page == 'dashboard' %}navbar__element_active{% endif %}"><a href="{% url "crm:dashboard" %}">My dashboard</a></li>
            <li class="navbar__element {% if active_page == 'productlist' %}navbar__element_active{% endif %}"><a href="{% url "crm:products_list" %}">Products</a> </li>
            <li class="navbar__element {% if active_page == 'orderlist' %}navbar__element_active{% endif %}"><a href={% url "crm:orders_list" %}>Orders</a></li>
{#            <li class="navbar__element {% if active_page == 'importpage' %}navbar__element_active{% endif %}"><a href={% url "crm:import_avangard" %}>Imports</a></li>#}
            {% if user.is_authenticated %}
                <li class="navbar__element"><a href="{% url "crm:logout" %}">Logout</a></li>
                <li class="navbar__greeting"> Hello <span class="navbar__greeting_bold">{{ user.first_name }} ({{ user.username }})</span></li>
            {% else %}
                <li class="navbar__element"><a href="{% url "crm:login" %}">Login</a></li>
            {% endif %}
    </ul>
    </div>
</nav>

<main class="main">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container">
    @ Ермаков Андрей
    </div>
</footer>

</body>
</html>